
{{- $params := .Scratch.Get "params" -}}

<div class="toc" id="toc-auto">
    <h2 class="toc-title">{{ T "contents" }}</h2>

    <div class="toc-content false" id="toc-content-auto"></div>
</div>

<div class="details toc" id="toc-static"  kept="true">
    <div class="details-summary toc-title">
        <span>{{ T "contents" }}</span>
        <span><i class="details-icon fas fa-angle-right"></i></span>
    </div>
    <div class="details-content toc-content" id="toc-content-static">
        {{- dict "Content" .Page.TableOfContents "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
    </div>
</div>
